*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.twitter{
    display: flex;
}

/*****************************Sidebar portion started********************************/
.sidebar{
    width: 25%;
    position: fixed;
    left: 0;
    height: 100%;
    border-right: 1px solid #e6ecf0;

}

.sidebar ul{
    list-style-type: none;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 18px 35px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.sidebar ul li a:hover{
    background-color: #e8f5fe;
    color: #1da1f2;
}

.icons{
    margin-right: 18px;
    font-size: 23px;
}

.logo{
    color: #1da1f2;
}

.sidebar .sidebar_btn{
    padding-top: 20px;
}
.sidebar .sidebar_btn a{
   text-decoration: none;
   margin-left: 35px;
   color: white;
   background: #039af8;
   padding: 13px 100px;
   border-radius: 50px;
   
}
/*****************************Sidebar portion ended********************************/
/*****************************twits portion start********************************/

.twitts{
    width: 50%;
    margin-left: 25%;
    border-right: 1px solid #e6ecf0;
}

.home{
    width: 50%;
    position: fixed;
    top: 0;
    padding: 15px;
    font-weight: 700;
    border-bottom: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
    overflow: hidden;
    background: white;
}

/*****************************twits portion ended********************************/
/*****************************Create-twits portion start********************************/
.create{
    padding-top: 60px;
    border-bottom: 1px solid #e6ecf0;
    padding-bottom: 20px;
}

.createfirst{
    display: flex;
    padding: 0 10px;
    align-items: center;

}

.create_image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

}

.create_input input{
    outline: none;
    border: none;
    margin-left: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.create_second{
    display: flex;
    margin-left: 85px;
}

.create_icons{
    width: 50%;
}

.create_second .ic{
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #1da1f2;
}

.create_btn{
    width: 50%;
    text-align: right;
    margin-right: 25px;
    cursor: pointer;
}

.create_btn a {
    text-decoration: none;
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

/*****************************Create-twits portion ended********************************/
/*****************************posts portion start********************************/

.posts{
    padding: 20px ;
    border-bottom: 1px solid #e6ecf0;
}

.posts_first{
    display: flex;
    align-items: center;
}

.posts_first_img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.posts_first_name{
    margin-left: 6px;
}

.posts_first_userid{
    margin-left: 6px;
    color: silver;
    font-weight: 200;
}

.posts .posts_first_userid span{
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
}

.verify{
    margin-left: 3px;
    color: #1da1f2;
}

.posts_details{
    margin: 10px 20px;
}

.posts_details_img img{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
}

 .posts_reactions{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(173, 160, 160);
}
/*****************************posts portion ended********************************/
/*****************************trends portion ended********************************/

.trends{
    width: 25%;
}

.trends_searchbar{
    position: fixed;
    width: 25%;
    top: 0;
    top: 10px;
    /* border-bottom: 1px solid #e6ecf0; */
    padding-bottom: 19px;
}

.search_twitter{
    border: none;
    width: 90%;
    margin-left: 20px;
    font-size: 15px;
    padding: 12px 40px;
    border-radius: 50px;
    background-color: #f5f4f2;
}

.search_icon{
    position: absolute;
    top: 12px;
    left: 28px;
    margin-right: 50px;
}

.search{
    font-size: 20px;
    margin-left: 5px;
    color: silver;
}
 
/*****************************trends portion ended********************************/
/*****************************trendskeywords portion start********************************/


.keywords{
    position: fixed;
    top: 0;
    align-items: center;
    padding: 20px 20px;
    width: 25%; 
}

.key{
    background-color: #f5f8fa;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px 10px;
}

.keywords_heading{
    font-size: 20px;
    border-bottom: 1px solid #e6ecf0;
    padding: 6px;
}

.country{
    padding: 10px;
    font-size: 16px;
    color: silver;
}

.keyword_name{
    padding: 6px;
    font-size: 14px;
    font-weight: 300;
}

.keyword_tweets{
    padding: 6px;
    color: rgb(189, 182, 182);
    font-size: 14px;
    font-weight: 300;
}
/*****************************trendkeywords portion ended********************************/
